<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lenovohit.module_appointment">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:supportsRtl="true">
        <activity android:name=".ui.LX_AppointmentMainActivity"
                  android:configChanges="orientation|keyboardHidden"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTask"
                  android:process=":module_appointment"/>

        <activity android:name=".ui.LX_AppointmentHosActivity"
                  android:configChanges="orientation|keyboardHidden"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTask"
                  android:process=":module_appointment"/>

        <activity android:name=".ui.LX_AppointmentDocActivity"
                  android:configChanges="orientation|keyboardHidden"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTask"
                  android:process=":module_appointment"/>

        <service android:name=".exposure.AppoinmentRouterConnectService"
                 android:process=":module_appointment"/>
    </application>

</manifest>
